<tr>
  <td>
    <%= link_to product.title.titleize, product_path(product), class: 'btn-link' %>
  </td>
  <td>
    <%= link_to product_path(product) do %>
      <%= image_tag(get_product_image_url(product.images.first, :thumb), class: 'cart-img') %>
    <% end %>
  </td>
  <td><%= product.body %></td>
  <td><%= number_to_currency(product.price) %></td>
  <td><%= link_to user_full_name(product.user), user_page(product.user) , class: "btn-link" %></td>
  <td>
    <%= form_for order_item, remote: true do |f| %>
      <%= link_to order_item, { data: { confirm: "Are you sure you wish to delete the product '#{order_item.product.title.titleize}' from your cart?" }, method: :delete, remote: true, class: "btn btn-danger", id: "btn-remove-cart"} do %>
        <i class="fa fa-trash"></i>
      <% end %>
    <% end %>
  </td>
</tr>
