<div class="col-lg-4" id='checkout-container'>
  <div class="panel panel-default shadow">
    <div class='panel-heading'>
      <h4><strong>Checkout</strong></h4>
    </div>
    <div class="panel-body">
      <div class='text-default p-tag'><strong>Total Products: <%= current_order.products.count %></strong></div>
      <div id='total-price' class='text-danger separator p-tag'>
        <%= render 'carts/total_price' %>
      </div>
      <div id='total-coupon-price' class='text-danger p-tag'></div>
      <div class='p-tag'>
        <%= form_tag(url_for(controller: 'order_items', action: 'check_coupon', method: 'post'), remote: true) do %>
          <%= text_field_tag(:token, nil, required: true, class: 'form-control coupon', placeholder: 'Apply coupon') %>
          <%= submit_tag('Apply coupon', class: "btn btn-info pull-right") %>
        <% end %>
      </div>
      <div class='p-tag'>
      <% if has_order? %>
        <%= link_to new_transaction_path, class: "btn btn-lg btn-block btn-primary", type: 'button' do %>
          <i class="fa fa-paypal"></i>
          Checkout
        <% end %>
      <% end %>
      </div>
    </div>
  </div>
</div>
