<% unless products.present? %>
  <p>Sorry! There are no such products.</p>
<% end %>
<div class='pull-right full-width'>
  <%= paginate @products %>
</div>
<div class="row">
  <% products.each do |product| %>
    <div class="col-lg-4">
      <div class="thumbnail">
        <a href='<%= product_path(product) %>'>
          <%= image_tag(get_product_image_url(product.images.first, :original), class: 'img-container') %>
        </a>
        <div class="caption">
          <h3><%= product.title %></h3>
          <h6><%= number_to_currency(product.price) %></h6>
          <p>Seller: <%= link_to user_full_name(product.user), user_page(product.user) , class: "btn btn-link"%></p>
          <%= link_to "View", product_path(product), class: "btn btn-default", type: 'button' %>
          <% if product_in_cart?(product) %>
            <%= link_to "Add to Cart", nil, class: "btn btn-primary disabled", id: "already-in-cart-#{product.id}", type: 'button' %>
          <% else %>
            <%= form_for @order_item, remote: true do |f| %>
              <%= f.hidden_field :product_id, value: product.to_param %>
              <%= f.submit "Add to Cart", class: "btn btn-primary", id: "add-to-cart-#{product.id}" %>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
</div>
<div class='pull-right full-width'>
  <%= paginate @products %>
</div>
