<div id='user-products-pagination'>
  <%= paginate @products, param_name: 'product_page_number' %>
  <% products.each do |product| %>
    <p>
      <strong>Title:</strong>
      <%= product.title %> |

      <strong>Body:</strong>
      <%= product.body %> |

      <strong>Price:</strong>
      <%= product.price %> |

      <strong>Total Reviews:</strong>
      <%= product.reviews_count %> |

      <strong>Images</strong>
      <% product.images.each do |image| %>
        <%= image_tag image.get_image_url(:thumb) %>
      <% end %>

      <%= link_to 'Edit', edit_product_path(product) %>
      <%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %>
    </p>
  <% end %>
</div>
