<div class="page-header">
  <h1>All Products
    <% if user_signed_in? %>
      <%= link_to new_product_path, class: "btn btn-primary active right", type: 'button' do %>
        <i class="fa fa-plus-circle"></i>
        New Product
      <% end %>
    <% end %>
    <div class="input-group pull-right">

    <%= form_tag(search_products_path, remote: true, class: 'input-group pull-right') do %>
      <%= text_field_tag(:query, nil, required: true, class: 'form-control', placeholder: 'Search..') %>
      <span class="input-group-btn">
        <%= submit_tag('Search!', class: "btn btn-default") %>
      </span>
    <% end %>
    </div>
  </h1>
</div>

<div id="index-products">
  <%= render 'products', products: @products %>
</div>
