<div class="page-header">
  <h1>All Products
    <%= link_to 'New Product', new_product_path, class: "btn btn-primary active right", type: 'button' if user_signed_in? %>
  </h1>
</div>
<div class='pull-right full-width'>
  <%= paginate @products %>
</div>
<div class="row">
  <div class="">
    <% @products.each do |product| %>
      <div class="col-lg-4">
        <div class="thumbnail">
          <a href='<%= product_path(product) %>'>
            <%= image_tag(get_product_image_url(product.images.first, :original), class: 'img-container') %>
          </a>
          <div class="caption">
            <h3><%= product.title %></h3>
            <h6>Rs. <%= product.price %></h6>
            <p>Seller: <%= link_to product.user.email, user_page(product.user) , class: "btn btn-link"%></p>
            <p>
              <%= link_to "View", product_path(product), class: "btn btn-default", type: 'button' %>
              <%= link_to "Purchase", product_path(product), class: "btn btn-default", type: 'button' %>
            </p>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
<div class='pull-right full-width'>
  <%= paginate @products %>
</div>

