<div class="page-header">
  <h1>All Products
    <%= link_to 'New Product', new_product_path, class: "btn btn-primary active right", type: 'button' if user_signed_in? %>
  </h1>
</div>

<%= paginate @products %>

<div class="row">
  <div class="">
    <% @products.each do |product| %>
      <div class="col-lg-4">
        <div class="thumbnail">
          <%= image_tag("default-image.png") %>
          <div class="caption">
            <h4><%= product.title %></h4>
            <h6>$<%= product.price %></h6>
            <p>Blah Blah Blah</p>
            <p>
              <%= link_to "View", product_path(product), class: "btn btn-default", type: 'button' %>
              <%= link_to "Order", product_path(product), class: "btn btn-default", type: 'button' %>
            </p>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>

