<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @product.title %>
</p>

<p>
  <b>Body:</b>
  <%= @product.body %>
</p>

<p>
  <b>Price:</b>
  <%= @product.price %>
</p>

<p>Images</p>
<p>
  <% @product.images.each do |img| %>
    <%= image_tag img.photo.url(:thumb) %>
  <% end %>
</p>

<%= render '/reviews/reviews', reviews: @reviews, product: @product %>

<div id="review-update-form"></div>

<div id="review-form">
  <%= render '/reviews/form', product: @product, review: @review unless is_owner_and_signed_in?(@owner) %>
</div>

<%= link_to 'Edit', edit_product_path(@product) if is_owner_and_signed_in?(@owner) %> |
<%= link_to 'Back', products_path %>
