<!DOCTYPE html>
<html>
<head>
  <title>DemoProject</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <script src="https://js.braintreegateway.com/v2/braintree.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
</head>
<body>

  <nav class="navbar navbar-default" id="header-bar">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand" href="<%= root_path %>"><i>Shoppy</i></a>
      </div>
      <div>
        <ul class="nav navbar-nav">
          <li class="active"><a href="<%= root_path %>"><i class="fa fa-home"></i> Home</a></li>
          <li><a href="#"><i class="fa fa-envelope"></i> Contact</a></li>
          <li><a href="#"><i class="fa fa-sitemap"></i> About</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li class="cart-text"><%= render 'layouts/cart_text' %></li>
          <% unless user_signed_in? %>
            <li>
              <%= link_to new_user_session_path do %>
                <i class="fa fa-sign-in"></i>
                Sign In
              <% end %>
            </li>
            <li>
              <%= link_to new_user_registration_path do %>
                <i class="fa fa-laptop"></i>
                Register
              <% end %>
            </li>
          <% else %>
            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                <i class="fa fa-user"></i>
                <%= user_full_name(current_user) %><span class="caret"></span>
              </a>
              <ul class="dropdown-menu">
                <li><a href="<%= users_dashboard_path %>"><i class="fa fa-archive"></i> Dashboard</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="<%= edit_user_registration_path %>"><i class="fa fa-cogs"></i> Edit Profile</a></li>
              </ul>
            </li>
            <li>
              <%= link_to destroy_user_session_path, method: :delete do %>
                <i class="fa fa-sign-out"></i>
                Sign out
              <% end %>
            </li>
          <% end %>

        </ul>
      </div>
    </div>
  </nav>


  <div class="container">
    <div id='notice'>
      <%= render 'layouts/flash', flash: flash %>
    </div>
    <%= yield %>
  </div>

</body>
</html>
